<a href="https://colab.research.google.com/github/Juliana-de-Andrade/CP1IOT/blob/main/CP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imports

In [2]:
import pandas as pd

1. Carregue o dataset e exiba as 10 primeiras linhas.

In [3]:
df= pd.read_csv('household_power_consumption.txt', sep=';')

/tmp/ipython-input-3731341888.py:1: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('household_power_consumption.txt', sep=';')

In [ ]:
df.head(10)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.220,15.800,0.000,1.000,17.0
8,16/12/2006,17:32:00,3.668,0.510,233.990,15.800,0.000,1.000,17.0
9,16/12/2006,17:33:00,3.662,0.510,233.860,15.800,0.000,2.000,16.0

2. Explique a diferença entre as variáveis Global_active_power e Global_reactive_power.

In [ ]:
#Global_active_power representa a potência ativa média global por minuto da residência (em kilowatt),que é a potência utilizada para realizar trabalho útil.
#Já Global_reactive_power representa a potência reativa média global por minuto da residência (em kilowatt),
#que é a potência necessária para manter campos eletromagnéticos em circuitos de corrente alternada,
#mas que não realiza trabalho útil.

3. Verifique se existem valores ausentes no dataset. Quantifique-os.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1549470 entries, 0 to 1549469
Data columns (total 9 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Date                   1549470 non-null  object
 1   Time                   1549470 non-null  object
 2   Global_active_power    1549470 non-null  object
 3   Global_reactive_power  1549470 non-null  object
 4   Voltage                1549470 non-null  object
 5   Global_intensity       1549470 non-null  object
 6   Sub_metering_1         1549470 non-null  object
 7   Sub_metering_2         1549469 non-null  object
 8   Sub_metering_3         1541121 non-null  float64
dtypes: float64(1), object(8)
memory usage: 106.4+ MB

In [ ]:
df.isnull().sum()

Date                        0
Time                        0
Global_active_power         0
Global_reactive_power       0
Voltage                     0
Global_intensity            0
Sub_metering_1              0
Sub_metering_2              1
Sub_metering_3           8349
dtype: int64

4. Converta a coluna Date para o tipo datetime e crie uma nova coluna com o dia da semana correspondente.

In [11]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   datetime64[ns]
 1   Time                   object
 2   Global_active_power    float64
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 142.5+ MB

/tmp/ipython-input-2345423161.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df['Dia_da_semana'] = df['Date'].dt.day_name()

5. Filtre os registros apenas do ano de 2007 e calcule a média de consumo diário de
Global_active_power.

In [12]:
df['Global_active_power'] = pd.to_numeric(df['Global_active_power'], errors='coerce')

df_2007 = df[df['Date'].dt.year == 2007]

consumo_2007= df_2007.groupby(df_2007['Date'].dt.date)['Global_active_power'].mean()

6. Gere um gráfico de linha mostrando a variação de Global_active_power em um único dia à sua
escolha

7. Crie um histograma da variável Voltage. O que pode ser observado sobre sua distribuição?

8. Calcule o consumo médio por mês em todo o período disponível no dataset.

9. Identifique o dia com maior consumo de energia ativa global (Global_active_power).

10. Compare o consumo médio de energia ativa global em dias de semana versus finais de
semana.

11. Calcule a correlação entre as variáveis Global_active_power, Global_reactive_power, Voltage
e Global_intensity.

12. Crie uma nova variável chamada Total_Sub_metering que some Sub_metering_1,
Sub_metering_2 e Sub_metering_3.

13. Verifique se há algum mês em que Total_Sub_metering ultrapassa a média de Global_active_power.

14. Faça um gráfico de série temporal do Voltage para o ano de 2008.

15. Compare o consumo entre os meses de verão e inverno (no hemisfério norte).

16. Aplique uma amostragem aleatória de 1% dos dados e verifique se a distribuição de Global_active_power é semelhante à da base completa.

17. Utilize uma técnica de normalização (Min-Max Scaling) para padronizar as variáveis numéricas
principais.

18. Aplique K-means para segmentar os dias em 3 grupos distintos de consumo elétrico. Interprete os resultados.

19. Realize uma decomposição de série temporal (tendência, sazonalidade e resíduo) para Global_active_power em um período de 6 meses.

20. Treine um modelo de regressão linear simples para prever Global_active_power a partir de Global_intensity. Avalie o erro do modelo.